* {
  margin: 0;
  padding: 0;
}

:root {
  --timer: #fff;
  --card: #fff;
  --text: rgb(59, 59, 59);
  --text-alt: rgba(65, 65, 65, 0.932);
  --text-button: #fff;
  --icon: rgba(114, 114, 114, 0.932);
  --accent: #317daf;
  --accent-alt: #7ae0f7;
  --bg-top: #7ae0f7;
  --bg-bottom: #317daf;
}

body {
  background-image: linear-gradient(var(--bg-top), var(--bg-bottom));
  font-family: "Rubik", sans-serif;
  color: white;
  min-height: 100vh;
}

.timer-comp {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
